{% extends "layout/base.html" %}
{% load static %}{% load templatetags %}

{% block title %}{% endblock %}

{% block css%} {% endblock %}

{% block body %}

<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
      
     <h4 class="card-title mt-2">Registro</h4>
     
     <form name="form_registro" method="post" action="{% url 'accesoRegistro' %}">
        {% csrf_token %}
        <div class="form-group">
            <label>Nombre</label>
            {{form.nombre}}
        </div>
        <div class="form-group">
            <label>Apellido</label>
            {{form.apellido}}
        </div>  
        <div class="form-group">
            <label>E-Mail</label>
            {{form.correo}}
        </div> 
        <div class="form-group">
            <label for="password" class="label">Contraseña</label>
            {{form.password}}
        </div> 
        <div class="form-group">
            <label for="password" class="label">Repetir contraseña</label>
            {{form.password2}}
        </div>  
        <br>
        <div class="form-group">
            <button type="button" class="btn btn-primary " onclick="sendRegistro();"><i class="fas fa-pen"></i> Registrarse</button>
        </div>      
        
    </form>
    <hr/>
    <p>
       <a href="{% url 'accesoLogin' %}" title="Ir al Login" class="color_negro">Ir al Login</a>
   </p>
</div>
</section>

{% endblock %}

{% block js %}{% endblock %}