{% extends "layout/base.html" %}
{% load static %}{% load templatetags %}

{% block title %}{% endblock %}

{% block css%} {% endblock %}

{% block body %}

<!-- Section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    
   <h4 class="card-title mt-2">Login</h4>
   {% comment %}{% include "layout/flash.html" %}{% endcomment %}
   <form name="form_login" method="post" action="{% url 'accesoLogin' %}">
    {% csrf_token %}
    <div class="form-group">
      <label>E-Mail</label>
      {{form.correo}}
    </div> 
    <div class="form-group">
      <label for="password" class="label">Contraseña</label>
      {{form.password}}
    </div>  
    <br/> 
    <div class="form-group">
      <button type="button" class="btn btn-primary " onclick="sendLogin();"><i class="fas fa-envelope"></i> Enviar  </button>
    </div>      
    
  </form>
  <hr/>
  <p>
   <a href="{% url 'accesoRegistro' %}" title="Regístrate" class="color_negro">Regístrate</a> | <a href="#{% comment %}{% url 'accesoReset' %}{% endcomment %}" title="Restablecer contraseña" class="color_negro">Restablecer contraseña</a>
 </p>
</div>
</section>

{% endblock %}

{% block js %}{% endblock %}