{% load static %}{% load templatetags %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="{{2|getMetadata}}" />
        <meta name="keywords" content="{{1|getMetadata}}" />
        <meta name="author" content="" />
        <title>{{5|getMetadata}} - {% block title %}{% endblock %}</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'lib/startbootstrap-pagina-tienda/assets/favicon.ico' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'lib/startbootstrap-pagina-tienda/css/styles.css' %}?id={{ csrf_token }}" rel="stylesheet" />
        <!-- Font Awesome -->
        <link rel="stylesheet" type="text/css" href="{% static 'lib/fontawesome-5-8/css/all.css' %}">
        <!-- jquery-alerts -->
        <link rel="stylesheet" type="text/css" href="{% static 'lib/jquery-alerts/jquery.alerts.min.css' %}">
        <!-- CSS personalizado -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

        {% block css %}{% endblock %}
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="{% url 'homeIndex' %}">Tienda virtual</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'homeIndex' %}">Inicio</a></li>

                        {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="#">Bienvenido(a), {{user.first_name}}</a></li>
                        <li class="nav-item"><a class="nav-link" href="javascript:void(0);" onclick="salir('{% url 'accesoSalir' %}')">Salir</a></li>
                        {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'accesoLogin' %}">Login</a></li>  
                        <li class="nav-item"><a class="nav-link" href="{% url 'accesoRegistro' %}">Registrarse</a></li>  
                        {% endif %}                     
                    </ul>
                    <form class="d-flex">
                        
                        <button class="btn btn-outline-dark" type="button" onclick="window.location='{% url 'carroInicio' %}';">
                            <i class="bi-cart-fill me-1"></i>
                            Carrito                            
                            {% if user.is_authenticated %}{{request.session.users_metadata_id|getCuantosItemsHayEnElCarrito|safe}}{% endif %}
                        </button>
                    </form>
                </div>
            </div>
        </nav>
        {% include "layout/flash.html" %}

    	{% block body %}

    	{% endblock %}
        
        
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Pedro Medel - 2022</p></div>
            <hr>
            <center><a class="whats-app text-decoration-none text-white" href="https://api.whatsapp.com/send?phone=+56961601722&text=https://www.mipagina.com/ %0D%0A%0D%0AHola. Necesito información de: " target="_blank" title="Escríbenos por WhatsApp">
          <i class="fab fa-whatsapp my-float text-white"></i>  
        </a></center>
        </footer>
        
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'lib/startbootstrap-pagina-tienda/js/scripts.js' %}?id={{csrf_token}}"></script>
        <!-- jQuery-->
        <script type="text/javascript" src="{% static 'lib/jquery-3.6.1.min.js' %}"></script>
        <!-- jquery-alerts -->
        <script type="text/javascript" src="{% static 'lib/jquery-alerts/jquery.alerts.min.js' %}"></script>
        <!-- JS propio -->
        <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
        {% block js %}{% endblock %}
    </body>
</html>