{% if form.errors %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
	<div class="container">
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>			
		<p>Hay errores en el formulario: {{form.errors}}</p>
	</div>	
</div>
{% endif %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{message.level_tag}} alert-dismissible fade show" role="alert">
	<div class="container">
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>			
		{{message.message}}
	</div>	
</div>
	{% endfor %}
{% endif %}
