<!DOCTYPE html>
{% load static %}{% load templatetags %}
<html lang="es" />
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="csrf-token" content="{{ csrf_token }}">
  <meta name="description" content="{{2|getMetadata}}">
  <meta name="keywords" content="{{3|getMetadata}}">
	<title>{{5|getMetadata}} - {% block title %}{% endblock %}</title>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap-5.2.1-dist/css/bootstrap.min.css'%}" />	
	<!-- Font Awesome CDN -->	
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  <!--jquery-alerts-->
  <link rel="stylesheet" type="text/css" href="{% static 'lib/jquery-alerts/jquery.alerts.min.css'%}">

	{% block css %}	

	{% endblock %}
</head>
<body>

  <div class="container">
    <header class="blog-header lh-1 py-3">
      <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-4 pt-1">
          <a class="link-secondary" href="#">Subscribirse</a>
        </div>
        <div class="col-4 text-center">
          <a class="blog-header-logo text-dark" href="{% url 'home' %}">Pedro Medel</a>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center">
          <a class="link-secondary" href="#" aria-label="Search">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"></circle><path d="M21 21l-5.2-5.2"></path></svg>
          </a>
          <a class="btn btn-sm btn-outline-secondary" href="#">Registrarse</a>
        </div>
      </div>
    </header>

    <div class="nav-scroller py-1 mb-2">
      <nav class="nav d-flex justify-content-between">
        <a class="p-2 link-secondary" href="{% url 'aboutUs' %}">Nosotros</a>
        <a class="p-2 link-secondary" href="{% url 'estiloHome' %}">Estilo</a>
        <a class="p-2 link-secondary" href="{% url 'templateHome'%}">Template</a> 
        <a class="p-2 link-secondary" href="{% url 'consultasHome'%}">Consultas</a>
        <a class="p-2 link-secondary" href="{% url 'formulariosHome'%}">Formularios</a> 
        <a class="p-2 link-secondary" href="{% url 'reportesHome'%}">Reportes</a>     
      </nav>
    </div>
  </div>

  {% block body %}

  {% endblock %}

  <!-- Ventana modal -->
  <!-- Modal -->
  <div class="modal fade" id="ventanaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" id="_ventanaModal">

      </div>
    </div>
  </div>
  <!-- /Modal -->

  <!-- El JS de Bootstrap -->
  <script type="text/javascript" src="{% static 'lib/bootstrap-5.2.1-dist/js/bootstrap.min.js'%}"></script>
  <!-- jQuery -->
  <script type="text/javascript" src= "{% static 'js/jquery-3.6.1.min.js' %}">
  </script>
  <!-- archivo JS de funciones varias -->
  <script type="text/javascript" src="{% static 'js/funciones.js' %}?id={{ csrf_token }}"></script>
  <!--jquery-alerts JS-->
  <script type="text/javascript" src="{% static 'lib/jquery-alerts/jquery.alerts.min.js'%}"></script>
  {% block js %}

  {% endblock %}
</body>
</html>