<nav aria-label="Page navigation example">
	<ul class="pagination">
		{% if datos.has_previous %}
		<li class="page-item"><a class="page-link" href="?page=1" title="Primera página">Principio</a></li>
		<li class="page-item"><a class="page-link" href="?page={{datos.previous_page_number}}" title="Página anterior">Prev..</a></li>
		{% endif %}				

		{% for numero in numeros %}
		<li class="page-item"><a class="page-link {% if page == numero %} active {% endif %}" href="?page={{numero}}" title="Página número">{{numero}}</a></li>			
		{% endfor %}

		{% if datos.has_next %}
		<li class="page-item"><a class="page-link" href="?page={{datos.next_page_number}}">Sig.</a></li>
		<li class="page-item"><a class="page-link" href="?page={{datos.next_page_number}}" title="Última página">Final</a></li>
		{% endif %}
	</ul>
</nav>