{% extends 'layout/ajax.html' %}
{% load static %}

{% block body %}

<div class="modal-header">
	<h5 class="modal-title" id="exampleModalLabel">Título {{id}}</h5>
	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
	Texto de prueba. Holi, ¿tení pololi?
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
	<button type="button" class="btn btn-primary">Guardar</button>
</div>


{% endblock%}