{% extends 'layout/base.html' %}
{% load static %}

{% block title %}Estilos{% endblock %}

{% block css %}
<!-- Fancybox -->
<link rel="stylesheet" href="{% static 'lib/jquery.fancybox-1.3.4/fancybox/jquery.fancybox-1.3.4.css' %}" media="screen" />
{% endblock %}

{% block body %}

<div class="container">
	<h1><i class="fa-solid fa-pencil"></i> Estilos, diseños y herramientas varias</h1>
	<ul>
		<li>
			<a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#ventanaModal" onclick="carga_ajax_get('{% url "estiloModal" 123 %}', 'ss', '_ventanaModal')">Ventana Modal</a>
		</li>
		<li>
			<a href="javascript:void(0);" onclick="alert('holi');">Jquery alert</a>
		</li>
		<li>
			<a href="{% static 'img/falcon.png' %}" class="fancybox">
				<img src="{% static 'img/falcon.png' %}" width="40" height="40" />
			</a>
		</li>		
		<li>
			<a href="javascript:void(0);" onclick="carga_ajax_get('{% url "estiloAjax" 123 %}', '123', 'contenido_ajax');">AJAX</a>
		</li>
	</ul>
	<hr />
	<div id="contenido_ajax">Contenido inicial</div>
</div>

{% endblock %}

{% block js %}
<!-- Fancybox -->
<script type="text/javascript" src="{% static 'lib/jquery.fancybox-1.3.4/jquery-1.4.3.min.js' %}"></script>

<script type="text/javascript" src="{% static 'lib/jquery.fancybox-1.3.4/fancybox/jquery.fancybox-1.3.4.pack.js' %}"></script>

<script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox( {
			openEffect: 'none',
			closeEffect: 'none',
		});
	});
</script>
{% endblock %}