{% extends "layout/base.html" %}
{% load static %}
{% load templatetags %}

{% block title %}Consultas{% endblock %}

{% block body %}

<main class="container">
	<div class="row">
		{% include "layout/flash.html" %}
		<h2>Cliente API</h2>
		<ul>
			<li>Status {{response.status_code}}</li>
			<li>Response {{response.text}}</li>
		</ul>		
	</div>		
</main>

{% endblock %}