{% extends "layout/base.html" %}
{% load static %}
{% load templatetags %}

{% block title %}Consultas{% endblock %}

{% block body %}

<main class="container">
	<div class="row">
		<h2>Reportes</h2>			
		<ul>
			<li>
				<a href="{% url 'reportesPdf' %}" target="_blank">Exportar a PDF</a>
			</li>
			<li>
				<a href="{% url 'reportesImportarExcel' %}">Importar Excel</a>
			</li>
			<li>
				<a href="{% url 'reportesImportarTxt' %}">Importar .txt</a>
			</li>
			<li>
				<a href="{% url 'reportesExportarExcel' %}">Exportar a Excel y CSV</a>
			</li>
			<li>
				<a href="{% url 'clienteApi' %}">Cliente API</a>
			</li>
		</ul>
	</div>		
</main>

{% endblock %}