{% extends template %}
{% load static %}
{% load templatetags %}


{% block body %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">	
	
</head>
<body>
	<div class="container">
		<h2 class="text-blue">Ejemplo PDF</h2>
		<hr />
		<img src="{{base_url|safe}}static/img/rondamon.jpg" />
	</div>
</body>
</html>

{% endblock %}