{% extends "layout/base.html" %}
{% load static %}
{% load templatetags %}

{% block title %}Consultas{% endblock %}

{% block body %}

<main class="container">
	<div class="row">
		{% include "layout/flash.html" %}
		<h2>Exportar Excel</h2>
		

		<p>
			<a href="{% url 'ejecutarExportarExcel' %}" class="btn btn-success">Exportar</a>
		</p>
	</div>		
</main>

{% endblock %}