{% extends "layout/base.html" %}
{% load static %}
{% load templatetags %}

{% block title %}Consultas{% endblock %}

{% block body %}

<main class="container">
	<div class="row">
		{% include "layout/flash.html" %}
		<h2>Importar Excel</h2>
		<form action="{% url 'reportesImportarExcel' %}" method="post" name="form" enctype="multipart/form-data">
			{% csrf_token %}
			<p>
				<label for="archivo">
					<!-- <input type="file" name="file"> -->
					{{form.file}}
				</label>
				<hr>
				<button type="submit" class="btn btn-primary">Enviar</button>
			</p>			
		</form>	
	</div>		
</main>

{% endblock %}