{% extends "layout/base.html" %}
{% load static %}
{% block title %}Template Tags{% endblock %}

{% block body %}

<main class="container">
	<h3>Template tags</h3>
	<p>{{texto|safe}}</p>
	<p>
		<img src="{% static 'img/' %}{{halcon}}" width="240" height="240">
	</p>
	<hr>

	<p>
	<h3>Condicionales</h3>

	{% if color == "rojo" %}

	<span class="text-primary">
		{{ color|add:" es el color de la sangre" }}
	</span>

	{% else %}

	<span class="text-success">es verde</span>

	{% endif %}
	</p>
	<hr>

	<p>
		<h3>Recorrer valores</h3>

			<ul>
				{% for lista in listas %}
				{% if forloop.counter|divisibleby:2 == True %}
					<li>{{ forloop.counter }} - {{lista}}</li>
				{% endif %}
				{% endfor %}
			</ul>			
	</p>

{% endblock %}