{% extends "layout/base.html" %}

{% load static %}

{% block title %}Holi{% endblock %}


{% block body %}

<main class="container">
	<div class="row">
		<h3>Sesión iniciada</h3>
		<!-- set flash -->
		{% include "layout/flash.html" %}	
		<!-- /set flash -->		
		<p>
			{% if user.is_authenticated %}
			Bienvenido(a), {{user.first_name}} {{user.last_name}}
			{% endif %}			
		</p>
		<p>
			<a href="javascript:void(0)" onclick="logout('{% url 'formulariosLogout' %}')">Salir</a>
		</p>
		
	</div>
</main>

{% endblock %}