{% extends "layout/base.html" %}

{% load static %}

{% block title %}Formularios{% endblock %}


{% block body %}

<h1>Formularios Inicio</h1>

<main class="container">
	<div class="row">
		<ul>
			<li>
				<a href="{% url 'formularioSimple' %}">Formulario simple</a>
			</li>
			<li>
				<a href="{% url 'formulariosForm' %}">Formulario con clases</a>
			</li>			
			<li>
				<a href="{% url 'formulariosLogin' %}">Login</a>
			</li>

		</ul>		
	</div>	
</main>

{% endblock %}