{% extends "layout/base.html" %}

{% load static %}

{% block title %}Holi{% endblock %}


{% block body %}

<main class="container">
	<div class="row">

		<!-- set flash -->
		{% include "layout/flash.html" %}	
		<!-- /set flash -->
		<h3>Formularios de clases</h3>
		<form name="form" method="post" action="{% url 'formulariosForm' %}">
			{% csrf_token %}
			<div class="mb-3">
				<label for="nombre" class="form-label">{{form.nombre.label}}</label>
				{{form.nombre}}
			</div>
			<div class="mb-3">
				<label for="correo" class="form-label">{{form.correo.label}}</label>
				{{form.correo}}
				{% if form.errors %}
				<span class="text-danger">{{form.errors.correo}}</span>
				{% endif %}
			</div>
			<div class="mb-3">
				<label for="telefono" class="form-label">Teléfono</label>
				{{form.telefono}}
			</div>
			<div class="mb-3">
				<label for="mensaje" class="form-label">Mensaje</label>
				{{form.mensaje}}
			</div>
			<hr>
			<a href="javascript:void(0);" class="btn btn-success" onclick="document.form.submit()">
				Enviar
			</a>
		</form>
	</div>
</main>

{% endblock %}