{% extends "layout/base.html" %}

{% load static %}

{% block title %}Holi{% endblock %}


{% block body %}

<main class="container">
	<div class="row">

		<!-- set flash -->
		{% include "layout/flash.html" %}	
		<!-- /set flash -->
		<h3>Formulario simple</h3>
		<form name="form" method="post" action="{% url 'formularioSimple' %}">
			{% csrf_token %}
			<div class="mb-3">
				<label for="nombre" class="form-label">Nombre</label>
				<input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre">
			</div>
			<div class="mb-3">
				<label for="correo" class="form-label">Dirección de Email</label>
				<input type="email" class="form-control" id="correo" name="correo" placeholder="nombre@correo.com">
			</div>
			<div class="mb-3">
				<label for="telefono" class="form-label">Teléfono</label>
				<input type="text" class="form-control" id="telefono" name="telefono" placeholder="Teléfono">
			</div>
			<div class="mb-3">
				<label for="mensaje" class="form-label">Mensaje</label>
				<textarea class="form-control" id="mensaje" name="mensaje" rows="3"></textarea>
			</div>
			<hr>
			<a href="javascript:void(0);" class="btn btn-success" onclick="document.form.submit()">
				Enviar
			</a>
		</form>
	</div>
</main>

{% endblock %}