{% extends "layout/base.html" %}

{% load static %}

{% block title %}Holi{% endblock %}


{% block body %}

<main class="container">
	<div class="row">
		<!-- set flash -->
		{% include "layout/flash.html" %}	
		<!-- /set flash -->
		<h3>Formularios de Login</h3>
		<form name="form" method="post" action="{% url 'formulariosLogin' %}">
			{% csrf_token %}
			<div class="mb-3">
				<label for="correo" class="form-label">Usuario</label>
				{{form.usuario}}
			</div>
			<div class="mb-3">
				<label for="password" class="form-label">Contraseña</label>
				{{form.password}}
			</div>			
			<hr>
			<a href="javascript:void(0);" class="btn btn-primary" onclick="document.form.submit()">
				Ingresar
			</a>
		</form>
		
	</div>
</main>

{% endblock %}