{% extends "layout/base.html" %}

{% load static %}{% load templatetags %}

{% block title %} Inicio {% endblock %}

{% block body %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Tienda virtual</h1>
            <p class="lead fw-normal text-white-50 mb-0">Sitio de práctica del curso de Python y Transbank</p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for producto in productos %}            
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="{% static 'upload/producto/' %}{{producto.foto}}" width="200" height="200" alt="{{producto.nombre}}" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{producto.nombre}}</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <!--coloca una estrellita<div class="bi-star-fill"></div>-->                       
                            </div>
                            <!-- Product price-->
                            ${{producto.precio|numberFormat}}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'productosDetalle' producto.id producto.slug %}" title="{{producto.nombre}}">Detalles</a></div>
                    </div>
                </div>
            </div>
            {% endfor %}                    
        </div>
    </div>
</section>

{% endblock %}

