{% extends "layout/base.html" %}
{% load static %}
{% load templatetags %}

{% block css %}	
<link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap-fileinput/fileinput.css' %}">
{% endblock %}

{% block title %}Agregar categoría{% endblock %}

{% block body %}

<main class="container">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
			<li class="breadcrumb-item"><a href="{% url 'consultasHome' %}">Categorías</a></li>
			<li class="breadcrumb-item active" aria-current="page">Agregar atributo</li>
		</ol>
	</nav>
	<hr>
	<div class="row">
		{% include "layout/flash.html" %}
		<h3>Agregar categoría para <span class="text-primary">{{producto.nombre}}</span></h3>

		<form name="form" method="POST" action="{% url 'agregarAtributo' producto.id %}">

			{% csrf_token%}
		
			<div class="row">
				<ul class="list-group">
					{% for atributo in atributos %}
					<li>
						<input type="checkbox" name="atributos" value="{{atributo.id}}" id="{{forloop.counter}}" {{producto.id|existeAtributoEnProducto:atributo.id}} />
						{{atributo.nombre}}
					</li>
					{% endfor %}
				</ul>				
			</div>	

			<hr>
			<a href="javascript:void(0);" class="btn btn-success" onclick="set_atributos()">
				Guardar
			</a>		
			
		</form>
		
	</div>

</main>


{% endblock %}


{% block js %}
<script type="text/javascript" src="{% static 'lib/bootstrap-fileinput/fileinput.js' %}"></script>
{% endblock %}