{% extends "layout/base.html" %}
{% load static %}
{% load templatetags %}

{% block title %}Consultas{% endblock %}

{% block body %}

<main class="container">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
			<li class="breadcrumb-item"><a href="{% url 'consultasHome' %}">Categorías</a></li>
			<li class="breadcrumb-item active" aria-current="page">Productos de la categoría {{cat.nombre}}</li>
		</ol>
	</nav>
	<hr>
	<div class="row">
		<h2>Categorías</h2>
		<ul>
			{% for categoria in categorias %}
			<li>
				<a href="{% url 'productos-por-categoria' categoria.slug %}" title="{{ categoria.nombre }}">{{ categoria.nombre }}</a>
			</li>
			{% endfor %}
		</ul>
		<hr>
		<h2>Productos ({{total.count}})</h2>		
		<hr />
		<p style="text-align: right;">
			<a href="{% url 'consultasCrear' %}" class="btn btn-primary">Crear nuevo</a>
		</p>
		<div class="container">
			<p>
				<form action="" method="GET">
					<div class="input-group mb-3">
						<div class="input-group mb-3">
							<input type="text" class="form-control" placeholder="Ingrese texto para buscar" name="b" id="b">
							<input type="hidden" name="page" value="1" />
							<button class="btn btn-outline-secondary" type="button"
							onclick="buscador()">Buscar</button>
						</div>
					</div>				
				</form>
			</p>
		</div>
			
		<table class="table table-striped">
			<thead>
				<tr>
					<th>id</th>
					<th>Categoría</th>
					<th>Nombre</th>
					<th>Descripción</th>
					<th>Precio</th>
					<th>Fecha</th>
					<th>Atributos</th>
					<th>Foto</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody class="table-group-divider">
				{% for dato in datos %}
				<tr>
					<td>{{dato.id}}</td>
					<td>{{dato.categoria.nombre}}</td>
					<td>{{dato.nombre}}</td>
					<td>{{dato.descripcion}}</td>
					<td>${{dato.precio|numberFormat}}</td>
					<td>{{dato.fecha|invertirFecha}}</td>
					<td>
						<a href="{% url 'agregarAtributo' dato.id %}">
							Atributos
						</a>
					</td>
					<td>
						<img src="{% static 'uploads/producto/'%}{{dato.foto}}" alt="{{dato.nombre}}" width="100" height="100">
					</td>
					<td>
						<a href="{% url 'producto-detalle' dato.id dato.slug %}" title="{{dato.nombre}}">Detalle</a> 
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>	
		{% include "layout/paginacion.html" %}		
	</div>	
	
</main>

{% endblock %}