{% extends "layout/base.html" %}
{% load static %}
{% load templatetags %}

{% block css %}	
<link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap-fileinput/fileinput.css' %}">
{% endblock %}

{% block title %}Añadir producto{% endblock %}

{% block body %}

<main class="container">
	<div class="row">
		{% include "layout/flash.html" %}
		<h3>Crear producto</h3>

		<form name="form" method="POST" action="{% url 'consultasCrear' %}" enctype="multipart/form-data">

			{% csrf_token%}

			<input type="hidden" name="foto" id="foto" />

			<div class="mb-3">
				<label for="categoria" class="form-label">Categoría</label>
				{{form.categoria}}
			</div>
			<div class="mb-3">
				<label for="nombre" class="form-label">{{form.nombre.label}}</label>
				{{form.nombre}}
			</div>
			<div class="mb-3">
				<label for="precio" class="form-label">{{form.precio.label}}</label>
				{{form.precio}}
			</div>			
			<div class="mb-3">
				<label for="descripcion" class="form-label">Descripción</label>
				{{form.descripcion}}
			</div>
			<div class="mb-3">
				<label for="file" class="form-label">Imagen</label>
				{{form.file}}
			</div>
			<hr>
			<a href="javascript:void(0);" class="btn btn-success" onclick="crear_producto()">
				Registrar
			</a>
			
		</form>
		
	</div>

</main>


{% endblock %}


{% block js %}
<script type="text/javascript" src="{% static 'lib/bootstrap-fileinput/fileinput.js' %}"></script>
{% endblock %}