{% extends "layout/base.html" %}
{% load static %}

{% block title %}Productos{% endblock %}

{% block body %}
<main class="container">
	<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'consultasHome' %}">Categorías</a></li>
    <li class="breadcrumb-item active" aria-current="page">Productos de la categoría {{cat.nombre}}</li>
  </ol>
	</nav>
	<div class="row">
		<h2>Productos de la categoría {{cat.nombre}}</h2>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>id</th>
						<th>Categoría</th>
						<th>Nombre</th>
						<th>Descripción</th>
						<th>Precio</th>
						<th>Foto</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody class="table-group-divider">
					{% for producto in productos %}
						<tr>
							<td>{{producto.id}}</td>
							<td>{{producto.categoria.nombre}}</td>
							<td>{{producto.nombre}}</td>
							<td>{{producto.descripcion}}</td>
							<td>${{producto.precio}}</td>
							<td>
								<img src="{% static 'uploads/producto/'%}{{producto.foto}}" alt="{{producto.nombre}}" width="100" height="100">
							</td>
							<td>
								<a href="{% url 'producto-detalle' producto.id producto.slug %}" title="{{producto.nombre}}">Detalle</a> 
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
	</div>
</main>

{% endblock %}