{% extends "layout/base.html" %}
{% load static %}

{% block title %}Detalle de {{producto.nombre}}{% endblock %}

{% block body %}
<main class="container">
	<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'consultasHome' %}">Categorías</a></li>
    <li class="breadcrumb-item active" aria-current="page">Productos de la categoría</li>
    <li class="breadcrumb-item active" aria-current="page">{{producto.nombre}}</li>
  </ol>
	</nav>
	<div class="row">
		<h3>Detalle de {{producto.nombre}}</h3>
		<p>
			<img src="{% static 'uploads/producto/'%}{{producto.foto}}" width="240" height="240" alt="{{producto.nombre}}">
		</p>
		<hr>
		<p>{{producto.descripcion}}</p>
		<p>Precio: ${{producto.precio}}</p>
		<p>Fecha: {{producto.fecha}}</p>
		
	</div>
</main>

{% endblock %}