.fondo {
	background-color: #e3e3e3;
}

.text-blue {
	color: #247FE8;
}

.background-blue {
	background-color: #247FE8;
}

.text-dark-blue {
	transition: 0.3s color ease;
	color: #0C3C73;
	text-decoration: none;
}

.text-dark-blue:hover {
	color: #E88D24;
}

.background-dark-blue {
	background-color: #0C3C73;
}

.text-orange {
	color: #E88D24;
}

.backrground-orange {
	background-color: #E88D24;
}